flows (1).json
[{"id":"50dda04c.3059c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"42b29cab.e8b9e4","type":"watson-conversation-v1","z":"50dda04c.3059c","name":"Essential chat Bot","workspaceid":"be1e0442-caea-43ce-87a5-5bd4193be7e7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.au-syd.assistant.watson.cloud.ibm.com/instances/94b09cb1-ab94-4e2f-ae29-b04bf3430b01","timeout":"","optout-learning":false,"x":470,"y":120,"wires":[["69d8645a.53eb7c"]]},{"id":"2ac4a93b.a14506","type":"inject","z":"50dda04c.3059c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["42b29cab.e8b9e4"]]},{"id":"6fc20e0f.f85d4","type":"debug","z":"50dda04c.3059c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":160,"wires":[]},{"id":"69d8645a.53eb7c","type":"function","z":"50dda04c.3059c","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["6fc20e0f.f85d4","c84ba5d9.816748","1be2b93.5fa8e47","678c695d.8b7b68"]]},{"id":"fc6c1bf4.f07948","type":"ui_form","z":"50dda04c.3059c","name":"","label":"","group":"e2374bc8.457ad8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["242a3764.17da18"]]},{"id":"242a3764.17da18","type":"function","z":"50dda04c.3059c","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["42b29cab.e8b9e4","c559b2.056cb65"]]},{"id":"c559b2.056cb65","type":"ui_text","z":"50dda04c.3059c","group":"e2374bc8.457ad8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"c84ba5d9.816748","type":"ui_text","z":"50dda04c.3059c","group":"e2374bc8.457ad8","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"1be2b93.5fa8e47","type":"ui_audio","z":"50dda04c.3059c","name":"","group":"e2374bc8.457ad8","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"678c695d.8b7b68","type":"ui_template","z":"50dda04c.3059c","group":"e2374bc8.457ad8","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"e2374bc8.457ad8","type":"ui_group","z":"","name":"Chatbot","tab":"f5106a90.00a018","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5106a90.00a018","type":"ui_tab","z":"","name":"Essential chat  Bot","icon":"dashboard","disabled":false,"hidden":false}]